<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="eap" type="Cim.Eap.EAPConfig, Cim.Eap"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cim.Eap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <eap id="MWN01" ip="127.0.0.1" port="5000" deviceId="0" recvBufferSize="0x4000" mode="Active" sml="..\config\common.sml" gem="..\config\gem.xml" driver="Online.Eap.EapDriver, Online.Eap"/>
  
  <applicationSettings>
    <Cim.Eap.Properties.Settings>
      <setting name="ZUrl" serializeAs="String">
        <value>tcp://127.0.0.1:9999/manager</value>
      </setting>
      <setting name="TcpBindTo" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="LogDay" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="RollSize" serializeAs="String">
        <value>20000000</value>
      </setting>
    </Cim.Eap.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
